@import url("https://fonts.googleapis.com/cs2?family=Public+Sans8");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
 
html{
    height: 100%;
}
 
body{
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    /*padding: 90px 20px 0;*/
    background-color: #0e0e0e;
}
 /*seccionar el codigo con comentarios asi es mas facil de leer*/

 /*HEADER*/
.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(49, 49, 49, 0.75);
    border-radius: 4px;
}
 
.header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 2;
}
 
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
}

a{
    text-decoration: none;
    /*es mas comodo asignarle a todos los <a> el text-decoration:none para no andar asignandolo a cada a que agregues*/
}

.nav-link{
    color: white;
}
 
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 40px;
    display: flex;
}
 
.name{
    font-family: "Bad Script", cursive;
    padding-top: 5px;
    /*borré margin-left:80px*/
}
 
#img-logo{
    height: 40px;
    padding-right: 30px; 
    display: flex;
}
 /*conviene crear clases para las imagenes y no modificar todas las imagenes.*/

 ul{
    list-style: none;
/*idem <a>*/
 }
.nav-menu{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 20px;
    background-color: #3f3c38;
    position: fixed;
    left: 0;
    /*este left:0 es pisado por el left:100% que se escribe despues*/
    top: 60px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
 
    left: 100%;
    transition: left 0.3s;
    /* para que aparezca una barra de navegacion cuando la pantalla sea muy chica,
    no me funciona :(*/
    /*height: cal(100% - 40px);
    overflow-y: auto;*/

    /*la barra de navegación no se ve en algunas medidas porque hay mucho espacio asignado en padding y margin(en el ul y en cada li) entonces directamente no entran en algunas resoluciones. Por eso agregué cambios en los nav-menu y nav-menu-item y nav-menu-link de las las media queries */
}
 
.nav-menu-link{
    font-size: 20px;
    /*margin: 0 10px;*/
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
/*No tiene sentido editar por un lado el item y por otro el link, porq los dos son lo mismo. Unifiqué el codigo. lo que esta abajo era lo del link.*/
    /* padding: 8px 12px; */
    border-radius: 3px;
    transition: 0.5s;
}
 /*seria mejor trabajar con los nav-menu-item o los nav-menu-links y no con los dos juntos*/
.nav-menu-link:hover{
    transition: 0.5s;
    border-bottom: 1px solid white;
}
 
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 40px;
    display: block;
    cursor: pointer;
}
 
.nav-menu_visible{
    left: 0;
}
 
.nav-toggle:focus:not(:focus-visible){
    outline: none;
}
 /*SIDEBAR*/
.sidebar{
    grid-area: sidebar;
    overflow: hidden;
}

#apartado1{
    background-image: url(https://img.freepik.com/fotos-premium/copa-vino-mesa-madera-restaurante_111599-382.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding:20px;
}

.aviso{
    text-align: center;
    background-color: rgba(134, 134, 134, 0.377);
    padding: 10px 0;
}
 
.aviso h3 {
    color: hsl(28, 100%, 80%);
    margin: 30px 0;
    font-size: 30px;
}

.aviso p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
 
#resto-span{
    color: rgb(218, 194, 173);
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 2px;
}
 
#boton-reserva{
    background: rgba(0, 0, 0, 0.486);
    color: white;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 3px;
    line-height: 5;
}
 
#boton-reserva:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.507);
    transition: 0.5s;
}

#apartado2{
    border-bottom: 1px #ffffff solid;
    border-top: 1px #ffffff solid;
    background-color: #5a5a5a;
    color: #ffffff;
}

#apartado2, #apartado3{
    position: relative;
    height: 35%;
}

#apartado2 h2, #apartado3 h2{
    padding: 20px;
    text-align: center;
    font-family: serif;
}

#linea, #linea2{
    position:relative;
    border-bottom: #f2f2f2 solid 2px;
    width: 30%;
    left: 35%;
    margin-bottom: 20px;
}

#apartado2 h4{
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.5;
    opacity: 0;
}

#apartado2 p{
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.8;
    margin-bottom: 20px;
    opacity: 0;
}

#apartado2 iframe{
    height: 300px;
    width: 100%;
    position: absolute;
    margin: auto;
    padding: 10px;
    bottom: 5px;
}

#apartado3{
    background-color: #1a1a1a;
    color: #ffffff;
    padding-top: 10px;
}

#apartado3 p{
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 2;
    margin-bottom: 5px;
}

hr{
    width: 10em;
    position: relative;
    left: 28%;
    margin: 10px 0;
}

/*MAIN*/
.main{
    grid-area: main;
    background-color: #3f3c38;
    padding: 20px 0;
}
 
#intro{
    text-align: center;
    padding-top: 10px;
}
 
.elH1 {
    color: hsl(0, 0%, 89%);
    margin-bottom: 20px;
    font-size: 20px;
}
#intro p {
    font-size: 12px;
    color: rgb(211, 211, 211);
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 2fr));/*en vez de autofill era 1*/
    grid-auto-rows: 200px;
    gap: 0;
    overflow: hidden;
}
 
.card1 {
    padding: 10px;
    justify-content: stretch;
    border-bottom: 1px #ffffff solid;
    border-top: 1px #ffffff solid;
    background-image: url(../img/comida.jpg);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
/*se ahorra codigo asignando una etiqueta <img> con un src con cada imagen y asignarle a cada imagen una clase en comun para editar el tamaño en lugar de divs */
.card1:nth-of-type(4){
    background-image: url(../img/comida2.jpg);
    background-size: 400px;
}

.card1:nth-of-type(5){
    background-image: url(../img/comida3.avif);
}

.card1:nth-of-type(8){
    background-image: url(../img/comida4.jpg);
}

.card1:nth-of-type(9){
    background-image: url(../img/card_reserva.jpg);
}

.card1:nth-of-type(12){
    background-image: url(../img/card_nosotros.jpg);
    background-size: 400px;
}

.card2{
    background-color: #050505;
    border-bottom: 1px #ffffff solid;
    border-top: 1px #ffffff solid;
}

.card2 h2{
    color: #f2f2f2;
    margin-top: 50px;
    font-family: serif;
    font-size: 30px;
}

.card-p-container {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-p-container > p > a{
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.card-p-container > p > a:hover{
    color: rgb(255, 199, 125);
}

/*FOOTER*/
.footer{
    grid-area: footer;
    background-color: #2a2a2a;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-foot{
    height: 100px;
    margin-bottom: 1rem;
    padding: 0 50%;
}

.contenedor-iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.icono-redes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.icono-redes:hover{
    background-color: #121212;
    filter: invert(1);
}

.icono-redes:nth-of-type(2){
    background-image: url(../img/instagram.png);
    background-size: 50%;
}

.icono-redes:nth-of-type(3){
    background-image: url(../img/linkedin.png);
    background-size: 40%;
}

.icono-redes:nth-of-type(4){
    background-image: url(../img/Twitter.png);
    background-size: 40%;
}

.contenedor-menu{
    list-style-type: none;
    color:#f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color:#f2f2f2;
    opacity: 0.3;
    text-align: center;
}
 
.grid-container{
    display: grid;
    gap: 10px;
    grid-template:
        "header"  100px
        "main"    auto
        "sidebar" 1135px
        "footer"  500px;
}
 
 /*las resoluciones mas comunes son de 768px/1024px/1200px*/
 @media (min-width: 768px){ 
    .nav-toggle{
        display: none;
    }
 
    .logo{
        line-height: 80px;
    }
 
    .name{
        width: max-content;
        margin-left: 0;
        font-size: 40px;
    }
 
    #img-logo{
        height: 80px;
    }

    .nav-menu{
        flex-direction: initial;
         margin-right: 40px;
        /*margin-left: 10px; */
        align-items: initial;
        position: initial;
        background-color: rgba(255, 255, 255, 0);
        padding-top: 10px ;
        left: 0;
        justify-content: end;

    }      
     /*aca agregué cambios para que entre el menú.*/
    .nav-menu-link{
        padding: 8px 10px;
        border-radius: 3px;
        transition: 0.5s;
        color: rgb(255, 255, 255);
        margin: 0px;
        transition: 0.5s;
        font-size: 16px;
    }

    .nav-menu-link:hover  {
        color: rgb(255, 199, 125);
        border: none;
            }

    #apartado1{
        background-size: 150%;
        padding: 20px;
        height: 30%;
        line-height: 2;
    }
 
    .aviso{
        text-align: center;
        padding: 20px 0;
        height: 100%;
    }
 
    .aviso h3 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .aviso p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 2;
    }
 
    #resto-span{
        font-size: 28px;
        letter-spacing: 2px;
    }

    #boton-reserva{
        line-height: 3;
        font-size: 20px;
    }
    
    #apartado2 h4, #apartado2 p{
        opacity: 1;
    }

    hr{
        width: 6em;
        left: 20%;
    }

    .card1{
        background-size: 400px;
    }

    .grid-container{
        /*grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer"; forma mas larga de hacerlo*/
        /*si se le agrega un . a alguna clase de abajo, queda vacio*/
 
        grid-template:  
        "header  header" 100px
        "sidebar main"   auto
        "footer  footer" auto /
        200px    auto;
    }
 
}   
 
 
@media (min-width: 1024px){
    .grid-container{
        grid-template:
        "header   header  header"  100px
        "main     main    sidebar" auto
        "footer   footer  footer"  auto /
        200px     auto    400px;
    }
 
    .name{
        font-size: 50px;
    }
 
    #img-logo{
        margin-left: 5px;
    }
 /*cambié la medida del margin de cm negativos por px*/
 /*   .nav-menu{
        padding: 0 10px 0 20px;
    }
 */
    #apartado1{
        padding-bottom: 20px;
        height: 600px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #apartado2 h4{
        padding: 20px;
    }

    #apartado2 iframe{
        height: 450px;
    }
    
    #apartado3{
        padding-top: 20px;
    }
    #apartado3 p {
        line-height: 5;
        margin-bottom: 20px;
    }
    
    hr{
        width: 10em;
        left:25%;
    }

    .aviso{
        text-align: center;
    }
 
    .aviso h3 {
        margin-bottom: 50px;
        font-size: 50px;
    }
    .aviso p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 30px;
    }

    #resto-span{
        font-size: 50px;
    }

    #boton-reserva{
        line-height: 3;
        font-size: 30px;
    }

    .card-container {
        grid-auto-rows: 300px;
    }

    .card1, .card1:nth-of-type(4), .card1:nth-of-type(12){
        background-size: 100%;
    }

    .card2 h2{
        padding-top: 50px;
        font-size: 40px;
    }

    .logo-foot{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
